<!-- taskapp/templates/taskapp/create_task.html -->
<h2>Create Task</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save</button>
</form>
<a href="{% url 'task_list' %}">Back to Task List</a>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var datetimeInputs = document.querySelectorAll('input[type="datetime-local"]');
    for (var i = 0; i < datetimeInputs.length; i++) {
      datetimeInputs[i].value = datetimeInputs[i].value.replace(' ', 'T');
    }
  });
</script>

