<!-- taskapp/templates/taskapp/task_list.html -->
<h2>Task List</h2>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Link</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.get_type_display }}</td>
        <td>{{ task.link }}</td>
        <td>{{ task.start_time }}</td>
        <td>{{ task.end_date}}</td>
        <td><a href="{% url 'edit_task' task.pk %}">Edit</a>
          <a href="{% url 'delete_task' task.pk %}">Delete</a>
          <a href="{% url 'extend_task' task.pk %}">Renew</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'create_task' %}">Create Task</a>

